BASIC_AUTH_USER=root
BASIC_AUTH_PASSWORD=root!paSSword

CORE_DOMAIN=vps-wp.localhost

# FQDN: HOST.DOMAIN
PORTAINER_HOST=
PORTAINER_DOMAIN=
PMA_HOST=
PMA_DOMAIN=
WP_HOST=
WP_DOMAIN=

MYSQL_ROOT_PASSWORD=db_root_password
MYSQL_USER=your_db_username
MYSQL_PASSWORD=your_db_password
